---
import Layout from '../layouts/Layout.astro';

const misskeyUrl = Astro.url.searchParams.get('misskey-url');
let error: string | null = null;

if (misskeyUrl != null) {
    const parsedUrl = URL.parse(misskeyUrl);
    if (parsedUrl == null) {
        error = 'URLが不正です';
    } else {
        const path = `/m/${parsedUrl.host}${parsedUrl.pathname}`;
        if (parsedUrl.protocol == 'https:') {
            return Astro.redirect(path, 307);
        } else {
            error = `不正なプロトコル: ${parsedUrl.protocol}`;
        }
    }
}

if (error != null) {
    Astro.response.status = 400;
}
---

<Layout>
    <h1>Noscript Misskey</h1>
    <form action="/">
        <label for="input-url">URLを入力</label>
        <input
            type="url"
            id="input-url"
            name="misskey-url"
            required
            placeholder="https://example.com"
        />
        <button type="submit">移動</button>
    </form>
    {error && <p>{error}</p>}
</Layout>
