---
import type { entities } from 'misskey-js';
import Note from './Note.astro';

interface Props {
    host: string;
    notes: entities.Note[];
}

const { host, notes } = Astro.props;
---

<h1>タイムライン</h1>
{notes.map((note) => <Note host={host} note={note} />)}
