---
import type { entities } from 'misskey-js';
import Mfm from '../mfm/Mfm.astro';

interface Props {
    block: entities.PageBlock;
    host: string;
}

const { block, host } = Astro.props;
---

<div>
    {block.text && <Mfm text={block.text} host={host} />}
</div>
