---
import type { entities } from 'misskey-js';
import XBlock from './page.block.astro';

interface Props {
    page: entities.Page;
    host: string;
}

const { page, host } = Astro.props;
---

<div>
    {
        page.content.map((block) => (
            <XBlock page={page} block={block} h={2} host={host} />
        ))
    }
</div>
