<!doctype html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>NoScript Misskey</title>
    </head>
    <body>
        <slot />
    </body>
</html>
